

.animated-text{
    
    font-family: "Roboto Slab ExtraLight";
    line-height: 60.75px;
    font-size: 60px;
    font-weight: 700;
    min-width: 280px;
}

.animated-text span{
    position: relative;
}

.animated-text span::before{
    background-color:#343A40;
    content: "Soring Algorithms visualizer";
    color: rgb(228, 226, 223) !important;
    animation: words 20s infinite;
}

.animated-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #2f3542;
    border-left: 2px solid #ff7f50;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid #ff7f5000;
    }
}

@keyframes words {
    0%,20%{
        content: "Sudoku Solver";
    }
    21%,40%{
        content: "Sieve of Eratosthenes";
    }
    41%,60%{
        content: "Binary Search Tree";
    }
    61%,80%{
        content: "Singly Linked List";
    }
    81%,100%{
        content: "Doubly Linked List";
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}